[submodule "submodules/cmake-scripts"]
	path = submodules/cmake-scripts
	url = git@github.com:StableCoder/cmake-scripts.git
[submodule "submodules/rapidcsv"]
	path = submodules/rapidcsv
	url = git@github.com:d99kris/rapidcsv.git
